<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong> <%= @order.first_name %>
</p>

<p>
  <strong>Last Name:</strong> <%= @order.last_name %>
</p>

<%= link_to 'Back', products_path %>
