<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <p><%= product.name %></p>
    <p><%= product.price %></p>
    <p><%= link_to 'Show', product %></p>
  </div>
<% end %>
